
/* creado por Jesús Gómez Cánovas, seguimos la nomenclatura recomendada para jekyll */
.titulo{
    width: auto;
    height: fit-content;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    background: rgb(0, 0, 0);
    margin: 0 auto;
    font-size:4vw;
    margin-bottom: 0;
    
    
}

.imglogo
{
    width: 100%;
  max-width: 50%;
  height: auto;
}

.imgcontacto{
    width: 100%;
    max-width: 50%;
    height: auto;
}

.imgccambiante{
    width: 100%;
    max-width: auto;
    height: auto;
}

.imgcontenido{
    width: 100%;
    max-width: auto;
    height: 100%;
    background-attachment: fixed;    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenido1 {
    width: auto;
    font-size: 2vw;
   /* background: rgb(73, 77, 76);*/
    color: rgb(19, 14, 14);
    margin: 0 auto;
    margin-bottom: 4em;

    
}



body{
    width: auto;
    color: #0101;
    grid-template-columns: 
    1fr [container-start]repeat(6,minmax(100px,250px))[container-end] 1 fr;
    grid-gap:2em 1em;
    background-color: #fdfdfd;
    
}

footer{
    width:auto;
    background: rgb(0, 0, 0);
    text-align: center;
    margin: 0 auto;
    padding-top: 0.2 rem;
    padding-bottom: 0.2 rem;
    margin-top: 2rem;
}


.post-anteriores{
    background:#313131;
    font-size: 2vw;
    padding: 2em 0;
    color: white;
    display: grid;
    margin-top: 4em;
    display: flex;  
    columns: 100px 2;
}

.post-descr{
    color: white;
    display: grid;
    display: flex;  
    margin-right: 5em;
    display: flex;  
    columns: 10vw 2;
  
}

.enlace{
        background-color: #a31869; 
        border: none;
        color: WHITE;
        padding: 0.5vw 0.32vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2vw;
        margin: 0.4vw 0.2vw;
        cursor: pointer;
        box-shadow: 0 .1vw .16vw 0 rgba(0,0,0,0.2), 0 .1vw .1vw 0 rgba(0,0,0,0.19);
        
      };


.titulo-blog{
    font-family: 'Anton', sans-serif;
    font-size: 4vw;
    line-height: 1;
    color: white;
    text-decoration: none;
    text-transform:uppercase;
    transition: opacity ease-out 200ms;
    text-decoration:none

}



.pase-automatico{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 10px 10px 20px;
    background: rgb(255, 255, 255);
    max-width:  auto;
    margin: 0 auto;

    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

div#pase { overflow: hidden; }
div#pase figure img { width: 20%; float: left; }
div#pase figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s moverse-izq ease ; 
}

.linea{
    width: 100%;
    max-width: auto;
    height: 6px;
    background: #cc17e4;
    position: absolute;
    bottom: 0;
    animation: linea 15s ease ; 
    
}

@keyframes moverse-izq{
    0%{left: -200%; }
    50%{left: -100%;}
    100%{left: 0%;}

}        

@keyframes linea{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}  


.video {
    
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 60vw;
    height: 34vw;
    

}
